.bot-container {
    position: fixed;
    bottom: 5px;
    right: -20px;
    width: 150px; /* Adjust as needed */
    height: auto;
    transform: scale(1); /* Default scale */
    transform-origin: center bottom;
}

img {
    width: 100%;
}